# Configuration file
# Generated on 4/9/13 4:03 PM

####################
# general
####################

general {
    I:clumpingThreshold=64
    B:disableStitchedFileSaving=true
    B:enableGlobalConfig=false
    B:legacyFurnaceOutput=false
    B:removeErroringEntities=false
    B:removeErroringTileEntities=false
}


